@using OdeToFood.Models
@model Restaurant
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Create</h1>
    <form method="post">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>

        <div>
            <label asp-for="Cuisine"></label>
            <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        </div>

        <input type="submit" name="save" value="Save" />
    </form>
</body>
</html>